/* * {
  border: solid 1px black
} */

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0 auto;
  background-image: url("https://cdn.vectorstock.com/i/2000v/03/30/fun-colorful-abstract-background-in-doodle-style-vector-51540330.avif");
  background-attachment: fixed;
}

.header {
  border: 1px solid black;
  background-color: #d8f6f4;
  margin-top: 1em;
  margin-bottom: 1rem;
}

#home-heading.header {
  border: none;
  text-shadow: 3px 3px rgb(179, 176, 176);
}

.main {
  border: 1px solid black;
  margin-bottom: 1em;
  /* margin: 0 auto; */
  padding: 2em;
  background-color: #d8f6f4;
}

#home {
  margin: 0 auto;
  width: 90%;
}

#home-img {
  margin: 1em;
}
#nav-bar.nav {
  margin: 2em;
}

.nav-link {
  width: 100px;
  background-color: aliceblue;  
  color: #000;
  padding: 8px 16px;
  margin: 5px;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
}

.nav-link:hover {
  box-shadow: 5px 5px grey;
}

#sort-by-container {
  margin: 1em;
  padding: 1em;
}

#articles-list {
  margin: 2em;
  padding-left: 0px;
}

.topics-list {
  margin: 2em;
  padding-left: 0px;
}

.article-card {
  background-color: aliceblue;  
  border: 1px dashed black;
  padding: 1em;
  display: block;
  max-width: 90%;
  margin: 1.5em auto;
}

#article-card-img.article-card {
  margin-top: 2em;
  border: 1px solid black;
  max-width: 70%;
  box-shadow: 10px 10px rgb(132, 125, 125);
}

#single-article {
  display: inline-flex;
}

#article-body {
  text-align: left;
}

#single-article-img {
  max-width: 500px;
}

.comments {
  text-align: left;
}


#comments-list {
  margin: 0;
  padding: 0;
}

#post-a-comment {
  margin-top: 1em;
  margin-bottom: 1em;
}

.likes {
  margin: 0;
  display: inline-flex;
  border: 1px solid black;
}

#like.likes{
  padding: 0;
}

#unlike.likes{
  padding: 0;
}

#likes-container.likes {
  background-color: aliceblue;  
  color: #000;
}

#likes-text.likes {
  width: 70px;
  border: none;
}

#comment-form {
  display: inline-flex;
}


.post-comment {
  height: 2em;
  background-color: aliceblue; 
  margin-right: 10px; 
  color: #000;
}

#individual-comment.comments {
  padding: 0.5em;
}

ul {
  list-style-type: none;
}

#article.single-article {
  display: inline-flex;
  background-color: aliceblue;
  border: 1px solid black;
  margin-bottom: 1em;
}

#article-text.single-article {
  padding: 1em;
}

.login {
  margin: 0 auto;
  display: block;
}

#avatar-container.login {
  background-color: aliceblue;
  float:left;
  margin: 5px;
  border: 1px solid black;
  width: 150px;
  height: 200px;
  display: block;
}

#login-button.nav-link {
  border: 1px solid black;
  width: 100px;
}

#login-avatar.login {
  width: 100px;
  height: 100px;  
}

#login-button.login {
  display: flex;
  justify-content: end;
}

#header-and-avatar {
  display: grid;
  grid-template-columns: 1fr 80% 1fr;
  grid-template-rows: auto;
}

#home-heading {
  grid-column-start: 2;
  grid-column-end: 2;
}

#user-img {
  justify-content: end;
  grid-column-start: 3;
  grid-column-end: 3;
}

.user-icon {
  position: absolute;
  border: 1px solid black;
}

#user-img {
  display: flex;
  justify-content: end;
  border: 1px solid black;
  width: 90px;
  height: 90px;
  border-radius: 50px;
}

button {
  border: 1px solid black;
}