
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
} 

div.avatar {
  justify-content: center;
  display: inline-flex;
}

#avatar-img {
  object-fit: contain;
}

body {
  margin: 0 auto;
  background-image: url("https://cdn.vectorstock.com/i/2000v/03/30/fun-colorful-abstract-background-in-doodle-style-vector-51540330.avif");
  background-attachment: fixed;
}

.header {
  background-color: #d8f6f4;
  margin-bottom: 1rem;
}

#home-heading.header {
  grid-column-start: 2;
  grid-column-end: 2;
  font-family: "Anton SC", sans-serif;
  padding-top: 1rem;
  font-size: 3em;
  text-shadow: 3px 3px rgb(179, 176, 176);
}

.main {
  padding: 2em;
  background-color: #d8f6f4;
}

#home {
  margin: 0 auto;
  width: 90%;
}

#home-img {
  margin: 0 auto;
}
#nav-bar.nav {
  grid-column-start: 2;
  grid-column-end: 2;
  margin: 1em;
}

.nav-link {
  width: 100px;
  background-color: #f3f4f6;  
  color: #000;
  padding: 8px 16px;
  margin: 5px;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.nav-link:hover {
  box-shadow: 5px 5px grey;
}

#sort-by-container {
  margin: 1em;
  padding: 1em;
}

#articles-list.articles {
  justify-content: center;
  display: inline-flex;
  flex-wrap: wrap;
}

.comments {
  text-align: left;
}

ul {
  list-style-type: none;
}

#article.single-article {
  display: block;
  background-color: aliceblue;
  border: 1px solid black;
  margin-bottom: 1em;
}

#avatar-container.login {
  background-color: aliceblue;
  margin: 5px;
  border: 1px solid black;
  width: 150px;
  height: 200px;
  display: inline-flex;
}

#login-avatar.login {
  width: 100px;
  height: 100px;  
}

#login-button.login {
  display: flex;
  justify-content: end;
}

#header-and-avatar.header {
  display: grid;
  grid-template-columns: 1fr 80% 1fr;
  grid-template-rows: auto;
  border: none;
}

#user-img {
  justify-content: end;
  grid-column-start: 3;
  grid-column-end: 3;
}

#drop-down {
  display: inline-flex;
}