* {
  border: solid 1px black
}

body {
  margin: 0 auto;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#article-card {
  display: inline-flex;
  background-color: aliceblue;
  margin: 0 auto;
}

#article-card-info {
  width: 400px;
}

#single-article {
  display: inline-flex;
}

#single-article-img {
  max-width: 500px;
}

#comments {
  text-align: left;
}

#likes {
  display: inline-flex;
}